
/*
Sample flex divide in two areas:
http://plnkr.co/edit/tK7ezZ21CpDHiCnfAKWs?p=preview
*/
.editor--container-flex {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor--viewer-container {
  flex: 0 0 50%;
  max-width: 50%;
  height:900px;
  overflow: scroll;
}

.editor--edit-container {
  flex: 0 0 50%;
  max-width: 50%;
}


.editor--viewer-border {
  border: 1px solid black;
}

.editor--textarea-size {
  height:900px;
  width: 100%;
}
