/*
Sample flex divide in two areas:
http://plnkr.co/edit/tK7ezZ21CpDHiCnfAKWs?p=preview
*/
.editor--container-flex {
  display:flex;
  flex-direction: row;
}

.editor--viewer-container {
  flex-basis: 50%;
  height: 900px;
  overflow: scroll;
}

.editor--edit-container {
  flex-basis: 50%;
}

.editor--viewer-border {
  border: 1px solid black;
}

.editor--textarea-size {
  resize: none;
  height: 900px;
  width: 100%;
}
